/.phpunit.cache
/app/*
/config/*
/database/*
/node_modules
/public/*
/storage/*.key
/vendor
/storage/*
/test/*
.env
.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.editorconfig
artisan
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
/.fleet
/.idea
/.vscode
