@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 50px;
}

header > .right > a {
    text-decoration: none;
    color: black;
}

@layer components {

    .important {
        @apply font-bold text-orange-400 ;
    }

    .zoom-on-hover {
        @apply transition-all cursor-pointer hover:scale-105 ;
    }

    .background {
        @apply fixed top-0 left-0 w-[100vw] h-[100vh] z-[-1] ;

        > img {
            @apply w-[100vw] h-[100vh] object-cover ;
        }
    }

    header {
        @apply w-full p-8 flex flex-row justify-between bg-white shadow-sm ;

        > .left {
            @apply w-fit flex flex-row items-center ;

            > img {
                @apply w-[70px] object-cover mr-4;
            }

            > h2 {
                @apply text-4xl font-bold ;
            }
        }

        > .right {
            @apply w-fit flex items-center ;

            > a {
                @apply mr-4 cursor-pointer transition-all hover:underline ;
            }
        }
    }

    footer {
        @apply w-full p-4 text-sm text-white bg-black flex flex-row justify-between ;

        > .left {
            @apply flex flex-row items-center ;

            > img {
                @apply w-[40px] mr-4 invert ;
            }
        }

        > .right {
            @apply flex items-center ;

            > a {
                @apply text-white no-underline mr-4 transition-all hover:underline ;
            }
        }
    }

    section {
        @apply w-full h-fit p-8 flex flex-col items-center ;

        &:first-of-type {
            @apply h-screen ;
        }

        &:nth-of-type(2){
            @apply bg-white ;    
        }

        &:nth-of-type(3) {
            @apply bg-white/30 ;
            
            > .competences {
                @apply flex flex-row flex-wrap items-center justify-center w-[100vw] sm:w-[75%];
    
                > img {
                    @apply h-[50px] object-cover m-4 cursor-pointer transition-all hover:scale-110 hover:bg-white hover:rounded-md hover:shadow-md hover:p-4 sm:h-[100px] ;
                }
            }
        }

        &:last-of-type{
            @apply bg-orange-500 text-white;

            > .news-container {
                @apply w-[100vw] grid grid-cols-1 gap-4 p-4 sm:grid-cols-3 sm:w-[75%] md:text-white;

                label[for=email]{
                    @apply text-slate-500 ;
                }
            }
        }
    }
}