@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 50px;
}

header>.right>a {
    text-decoration: none;
    color: black;
}

important {
    color: orange;
    font-weight: bold;
}

@layer components {

    .important {
        @apply font-bold text-orange-400;
    }

    .zoom-on-hover {
        @apply transition-all cursor-pointer hover:scale-105;
    }

    .background {
        @apply fixed top-0 left-0 w-[100vw] h-[100vh] z-[-1];

        >img {
            @apply w-[100vw] h-[100vh] object-cover;
        }
    }

    header {
        @apply w-full p-8 flex flex-col justify-center items-center bg-white shadow-sm sm:flex-row sm:justify-between;

        >.left {
            @apply w-full flex flex-row items-center justify-center md:justify-normal md:w-fit;

            >img {
                @apply w-[70px] object-cover mr-4;
            }

            >h2 {
                @apply text-4xl font-bold;
            }
        }

        >.right {
            @apply flex w-fit items-center m-4 md:flex sm:m-0 ;

            >a {
                @apply mr-4 cursor-pointer transition-all hover:underline ;
            }
        }
    }

    footer {
        @apply w-full p-4 text-sm text-white bg-black flex flex-row justify-between;

        >.left {
            @apply flex flex-row items-center;

            >img {
                @apply w-[40px] mr-4 invert;
            }
        }

        >.right {
            @apply flex items-center;

            >a {
                @apply text-white no-underline mr-4 transition-all hover:underline;
            }
        }
    }

    section {

        &:nth-of-type(2) {
            @apply bg-white w-full h-fit p-8 flex flex-col items-center;
        }

        &:nth-of-type(3) {
            @apply bg-white/30 w-full h-fit p-8 flex flex-col items-center;

            >.competences {
                @apply flex flex-row flex-wrap items-center justify-center w-[100vw] md:w-[75%];

                >img {
                    @apply h-[50px] object-cover m-4 cursor-pointer transition-all hover:scale-110 hover:bg-white hover:rounded-md hover:shadow-md hover:p-4 md:h-[100px];
                }
            }
        }

        &:last-of-type {
            @apply bg-orange-500 text-white w-full h-fit p-8 flex flex-col items-center;

            >.news-container {
                @apply w-[100vw] grid grid-cols-1 gap-4 p-4 md:grid-cols-3 md:w-[75%] md:text-white;

                .form-floating {
                    @apply w-full;
                }

                label[for=email] {
                    @apply text-slate-500;
                }
            }
        }
    }
}

.travaux>.description {
    opacity: 0;
}

.travaux:hover>.description {
    opacity: 1;
}

.animate-grow {
    transition: all var(--duration) linear;
}

.right>.progress-profil {
    width: 0;
    padding: 3px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

.h2-1,
.ensemble {
    opacity: 0;
    transition: all 3s;
}

:root {
    --duration: 60s;
}